body {
	text-align:center;
	//text-rendering: optimizeLegibility;
	//font-feature-settings: "kern" 1;
	//font-kerning: normal;
	background: #585858;
	color: #E6E6E6;
	font-family: "myriad-pro",sans-serif;
}

h1 {
	font-weight: 300;
}

h2 {
	font-weight: 350;
}

#top {
	position: relative;	
}


#text {
	position: relative;
}

#links {
	position: relative;
}

#links {
	display: inline;
	//float: left;
	text-align: center;
	margin-left: ;
}

#links > a {
	color: #D7DF01;
	transition: 0.5s color;
	margin-left: 0.5em;
}
#links > a:hover {
	color: #FF0000;
	transition: 0.5s color;
	//transform-origin: top;
	//perspective: 600px;
	//transition: 3s color, 0.3s transform;
}
#links > a.end {
	transition: 3s color, 3s transform;
	color: #FF0000;
}
